body {
  background-color: #f0f0f0;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  justify-content: center; 
}

.todo-card {
  width: 420px;
  border: 6px solid #b9d2b9 !important;
  border-radius: 10px;
  box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.2);
  padding: 20px;
  background-color: #fff;
}

.card-title {
  font-weight: bold;
  text-align: center;
}

input {
  border-radius: 5px;
  background-color: #e9f7e9 !important;
  margin-bottom: 10px !important;
}
input:focus{
  outline: none !important;
  border-color: #b9d2b9 !important;
  box-shadow: 0 0 10px #b9d2b9 !important;
}
textarea:focus{
  outline: none !important;
  border-color: #b9d2b9 !important;
  box-shadow: 0 0 10px #b9d2b9 !important;
}
textarea{
  border-radius: 5px;
  background-color: #e9f7e9 !important;
  margin-bottom: 10px !important;

}

.task-card {
  border: 6px solid #b9d2b9 !important;
  border-radius: 5px;
  background-color: #e9f7e9;
  margin-bottom: 15px !important;
}

button{
  justify-content: center !important ;
}
.task-card .card-body {
  padding: 10px;
}

.task-card h6 {
  font-weight: bold;
  font-weight: 700;
  font-size: 20px;
}
.task-card p{
  margin: 0;
  padding: 5px;
}

.task-card .btn {
  margin-right: 5px;
}

.add-task-btn {
  display: block;
  width: 100%;
  margin-top: 10px;
}

.alert-top {
  position: fixed;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1000;
  width: 80%;
  max-width: 400px;
  text-align: center;
}

.mx-auto {
  margin: auto;
}

